<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini10.miniserver.mapper.VirtualGroupRelationMapper">
  <resultMap id="BaseResultMap" type="com.mini10.miniserver.model.VirtualGroupRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="virtual_group_id" jdbcType="VARCHAR" property="virtualGroupId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <insert id="addVirtualGroupRelationInfo" parameterType="com.mini10.miniserver.model.VirtualGroupRelation">

    insert into virtual_group_relation(open_id,virtual_group_id)
      values (
      #{openId},
      #{virtualGroupId}
    )
  </insert>

  <select id="getOpenIdsByGroupId" resultType="string" parameterType="java.lang.String">
    select open_id from group_relation where virtual_group_id = #{virtualGroupId}
    </select>
</mapper>